nav {
    background-color: rgb(61, 61, 61);
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav > ul {
    list-style-type: none;
}

nav > ul {
    text-decoration: none;
    color: white;

}

nav > ul > li {
    display: block;
    float: left;
    padding: 20px;
    font-weight: bold;  
}

nav > ul > li:hover {
    /* background-color: white;
    color: black;
    transition: 0.3s ease; */
    cursor: pointer;
}

.active {
    background-color: rgb(163, 163, 163);
}